.present {
    position: relative;
    background: rgba(15, 3, 3, 0.705);
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px rgba(0, 0, 0, .15);
    transition: all .4s ease;

}

.present:hover {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, .25);
}

.present>div {
    padding: 0.4rem;
}

@media (max-width: 576px) {
    .present:hover {
        border-radius: 0% 0% 25% 25% / 0% 0% 5% 5%;
        box-shadow: 5px 5px rgba(0, 0, 0, .25);
    }
}