/*Qui Suis-je ?*/
.bg1 {
  background: rgb(15, 0, 103);
  background: radial-gradient(
    circle,
    rgba(182, 169, 255, 0.479) 0%,
    rgba(5, 0, 0, 0.411) 95%,
    rgba(5, 0, 0, 0.411) 100%
  );
  animation: tracking-in-expand 500ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.bg2 {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2777485994397759) 0%,
    rgba(24, 153, 149, 0.5718662464985995) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  animation: tracking-in-expand 500ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
