.services_bg {
  background: linear-gradient(rgba(201, 255, 4, 0), rgba(201, 255, 4, 0)),
    url("../assets/bg-general.png");
  background-size: cover;
  background-position: 50% 75%;
}

.bgSpace {
  background: linear-gradient(rgba(255, 0, 0, 0.514), rgba(0, 0, 0, 0.699)),
    url("../assets/articles.jpeg");
  background-size: cover;
  background-position: center;
}

.bgBanner0 {
  background: linear-gradient(rgba(0, 0, 0, 0.466), (rgba(255, 0, 0, 0.514))),
    url("../assets/articlesTop.jpg");
  background-size: cover;
  background-position: center;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.bgBanner1 {
  background: url("../assets/bg-computer2.png");
  background-position: center;
  background-size: cover;
}

.bgBanner2 {
  background: url("../assets/bg_computer.png");
  background-size: cover;
}

.bgBanner3 {
  background: url("../assets/portefolio-backgroundTop.jpg");
  background-size: cover;
  background-position: center;
}

.bgBanner4 {
  background: url("../assets/contactTop.jpg");
  background-size: cover;
  background-position: center;
}

.bgBackground2 {
  background: url("../assets/portefolio-background.jpg");
  background-position: center;
  background-size: cover;
}

.bgBackground3 {
  background: url("../assets/contact-background.jpg");
  background-position: center;
  background-size: cover;
}

.bgBackground4 {
  background: url("../assets/bg_grey.jpg");
  background-position: center;
  background-size: cover;
}
