/* SCSS du body*/
body {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(rgb(2, 2, 2), rgba(0, 0, 0, 0)),
    url("../assets/bg-planet.jpg");
  animation: bgMove 100000ms linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

* {
  text-align: center;
  margin: 0;
  font-family: "Days One", sans-serif;
}
