/* SCSS du body*/
body {
  background-color: #38355a;
  backdrop-filter: blur(5px);
  cursor: none;
  overflow-x: hidden;
}

* {
  text-align: center;
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
}
