/* SCSS de la rubrique Contact*/
.formBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(235, 235, 235, 0.603);
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem 0;
}

.inputForm {
  width: 80%;
  border-radius: 5px;
  border: 0px;
  margin: 0.2rem 0;
  cursor: none;
}

.messageForm {
  height: 100px;
  resize: none;
  margin: 0 0 1rem 0;
}

.sendEmail {
  background: linear-gradient(
    90deg,
    rgb(255, 159, 159) 0%,
    rgba(255, 182, 23, 0.658) 100%
  );
  width: 150px;
  height: 30px;
  border-radius: 10px;
  transition: all 200ms;
  border: 0px;
  cursor: none;
}

.sendEmail:hover {
  background: linear-gradient(
    90deg,
    rgba(23, 255, 43, 0.658) 0%,
    rgb(159, 255, 180) 100%
  );
  transform: scale(1.2, 1);
}

@media (max-width: 776px) {
  .formBox {
    width: 250px;
  }
}
