// CSS du footer
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.603) 30%,
    rgba(0, 0, 0, 0.027) 100%
  );
  color: white;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  margin: 2rem 0 0 0;
}

footer > a {
  margin: 0.7rem;
  cursor: none;
  color: rgba(255, 255, 255, 0.884);
  font-size: 50px;
  transition: 400ms;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(231, 231, 231, 0.199);
  text-decoration: none;
}

footer > a:hover {
  transform: scale(1.05);
  color: rgb(99, 212, 70);
  background-color: rgba(248, 248, 248, 0.37);
}
