footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
}