// CSS du footer
footer {
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.603) 30%,
    rgba(0, 0, 0, 0.027) 100%
  );
  color: white;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.arrowFooter {
  position: absolute;
  font-size: 20px;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    alternate-reverse both;
  bottom: 5vh;
  color: rgb(255, 232, 104);
}
