// SCC du Header
header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.603) 30%,
    rgba(0, 0, 0, 0.027) 100%
  );
  color: white;
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.imgLogo {
  height: 12vh;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .titleh1 {
      h1 {
        font-family: "Poppins";
        color: #fff;
        font-size: 28px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 1s forwards;
        animation: mainFadeIn 1s forwards;
        animation-delay: 500ms;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background-color: rgba(255, 255, 255, 0.466);
        position: absolute;
        animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 800;
        font-family: "Lato";
        color: #ffffff;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}

@media (max-width: 776px) {
  .titleh1 {
    font-size: 16px;
  }
}
