// SCC du Header
header {
  height: 8vh;
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.274) 40%,
    rgba(0, 0, 0, 0) 80%
  );
  color: white;
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.imgLogo {
  height: 6vh;
  background-color: rgba(255, 255, 255, 0.466);
  border-radius: 10px;
}

@media (max-width: 776px) {
  h1 {
    font-size: 18px;
  }
}
