.main_container {
    background-color: greenyellow;
    height: 80vh;
    overflow: hidden;
}

.card_container {
    background-color: rgba(0, 255, 255, 0.418);
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}