/*Colors mixins*/
$colorbg1: radial-gradient(
  circle,
  rgba(182, 169, 255, 0.479) 0%,
  rgba(5, 0, 0, 0.411) 95%,
  rgba(5, 0, 0, 0.411) 100%
);

$colorbg2: radial-gradient(
  circle,
  rgba(0, 0, 0, 0.2777485994397759) 0%,
  rgba(24, 153, 149, 0.5718662464985995) 0%,
  rgba(0, 0, 0, 1) 100%
);

$colorbg3: rgba(240, 255, 255, 0.718);

$colorBlackHover: rgba(0, 0, 0, 0.842);

$buttonColor: rgba(189, 221, 219, 0.685);

$validationColor: rgba(5, 255, 47, 0.637);

$text-black: rgb(29, 29, 29);
