.cursor {
  width: 47px;
  height: 47px;
  border: 1px solid rgba(56, 244, 118, 0.856);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 20ms ease-out, border-radius 250ms ease-out;
  z-index: 2;
  backdrop-filter: brightness(115%);
}

.cursor.hovered {
  width: 30px;
  height: 30px;
  border-radius: 25%;
}

.active {
  width: 41px;
  height: 41px;
}
