.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.25rem;
}

.buttonSwitchComponent {
  border: 0px;
  height: 40px;
  width: 135px;
  margin: 0.25rem;
  transition: all 200ms;
  border-radius: 5px;
  background-color: $buttonColor;
  font-size: 18px;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSwitchComponent:hover {
  background-color: $validationColor;
  color: white;
}
