.who_container {
  border-radius: 10px 10px 0 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 80%;
  transition-property: all;
  transition-property: transform;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.describe_container {
  width: 100%;
  backdrop-filter: brightness(40%);
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.photoOfMeImg {
  width: 15rem;
  z-index: 1;
  border-radius: 20px;
  transition: all 1s;
}

.describe_box {
  background-color: rgb(255, 255, 255);
  color: $text-black;
  background-size: cover;
  width: 30%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100px;
  border-radius: 20px;
  border: black 1px solid;

  margin: 0.5rem 0;
}

.who_container .describe_box:first-child {
  opacity: 1;
  visibility: visible;
  animation: roll-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  position: relative;
}

.who_container .describe_box:first-child:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid rgb(255, 255, 255);
  position: absolute;
  right: -1.5rem;
  rotate: 270deg;
  z-index: -1;
}

.who_container .describe_box:last-child {
  opacity: 1;
  visibility: visible;
  animation: roll-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  position: relative;
}

.who_container .describe_box:last-child:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid rgb(255, 255, 255);
  position: absolute;
  left: -1.5rem;
  rotate: 90deg;
  z-index: -1;
}

.bdInfo {
  font-family: "Chewy", cursive;
}
/*InterTitle*/
.interTitle {
  color: white;
  width: 80%;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.interTitle > h2 {
  font-size: 25px;
  padding: 0.5rem 0;
}

/*RUBRIQUE 2*/

.skillsBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border-radius: 0 0px 10px 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 1rem 0;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/*Container 1*/
.skillBox_Container1 {
  width: 45%;
  min-height: 510px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  backdrop-filter: brightness(40%);
}
.skillBox_Container1 > .titleArticle {
  background-color: $colorBlackHover;
  color: white;
  width: 80%;
  border-radius: 3px;
  transition: 300ms;
  margin: 0.25rem 0;
  padding: 0.5rem 0;
}
.skillBox_Container1 > .titleArticle:hover {
  background-color: $colorbg3;
  color: $text-black;
}
/*Container 2*/
.skillBox_Container2 {
  width: 45%;
  min-height: 510px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  backdrop-filter: brightness(40%);
}

.skillBox_Container2 > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.skillBox_Container2 > div > div > div:hover div.tooltip {
  display: block;
}

@media (max-width: 1132px) {
  .skillsBox {
    width: 90%;
  }
  .interTitle {
    width: 90%;
  }
  .describe_container {
    flex-direction: column;
  }

  .skillBox_Container1 {
    width: 100%;
  }

  .skillBox_Container2 {
    width: 100%;
  }

  .skillsBox {
    flex-direction: column;
  }
  .who_container {
    flex-direction: column;
    width: 90%;
  }

  .describe_box {
    width: 75%;
    min-width: 250px;
  }

  .photoOfMeImg {
    width: 8rem;
  }
  .describe_box {
    flex-direction: column;
  }

  // Flèche de l'infobulle
  .who_container .describe_box:first-child:after {
    right: 60%;
    bottom: -2rem;
    rotate: 340deg;
    border-top: 70px solid rgb(255, 255, 255);
  }

  .who_container .describe_box:last-child:after {
    left: 62%;
    top: -0rem;
    rotate: 40deg;
    border-left: 40px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
  }
}
