.card_container {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.present {
  width: 100%;
  margin: 0 auto;
  padding: 1vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  background: rgba(0, 0, 0, 0.459);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(5px);
  min-height: 60vh;
}

.title {
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.055);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 300ms;
  overflow: hidden;
  border: 1px solid black;
  margin: 0 0 1rem 0;
  padding: 1rem 0;
}

.title > div {
  background-color: $colorbg3;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  transition: 300ms ease-in-out;
  color: $text-black;
}

.title:hover > div {
  transform: scale(1.05);
  background-color: $colorBlackHover;
  box-shadow: 0px 0px rgb(0, 0, 0);
  color: white;
}

h2 {
  font-size: 30px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.171),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}

h3 {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.123);
  font-size: 20px;
}

div > p {
  font-size: 15px;
}

.article {
  border-radius: 10px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.15);
  width: 80%;
  border: 1px solid black;
  padding: 0.25rem 0;
}

.flexCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.flexCenterNoColumn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 776px) {
  .article {
    width: 90%;
  }

  .title {
    width: 90%;
  }

  .title > div {
    width: 85%;
  }

  .titleArticle {
    width: 95%;
  }

  .article > .titleArticle {
    width: 95%;
  }
}
