@charset "UTF-8";
/*Colors mixins*/ /*Qui Suis-je ?*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
.bg1 {
  background: rgb(15, 0, 103);
  background: radial-gradient(circle, rgba(182, 169, 255, 0.479) 0%, rgba(5, 0, 0, 0.411) 95%, rgba(5, 0, 0, 0.411) 100%);
  animation: tracking-in-expand 400ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.bg2 {
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 0.2777485994) 0%, rgba(24, 153, 149, 0.5718662465) 0%, rgb(0, 0, 0) 100%);
  animation: tracking-in-expand 400ms cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* SCSS du body*/
body {
  background-color: #38355a;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  cursor: none;
  overflow-x: hidden;
}

* {
  text-align: center;
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
}

header {
  min-height: 15vh;
  display: flex;
  justify-content: space-around;
  padding: 0 2%;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.603) 30%, rgba(0, 0, 0, 0.027) 100%);
  color: white;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.imgLogo {
  height: 12vh;
  margin: 0.5rem 0;
  background-color: rgba(255, 255, 255, 0.692);
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  .imgLogo {
    background-color: rgba(255, 255, 255, 0.692);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .box {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .titleh1 h1 {
  font-family: "Poppins";
  color: #fff;
  font-size: 28px;
  animation: mainFadeIn 1s forwards;
  animation-delay: 500ms;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.container .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.466);
  position: absolute;
  animation: secBlock 1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 1s;
  display: flex;
}
.container .box .role p {
  animation: secFadeIn 1s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  font-weight: 800;
  font-family: "Lato";
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #e9d856;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #e9d856;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #e9d856;
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@media (max-width: 776px) {
  .titleh1 {
    font-size: 16px;
  }
}
.cursor {
  width: 47px;
  height: 47px;
  border: 1px solid rgba(56, 244, 118, 0.856);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 20ms ease-out, border-radius 250ms ease-out;
  z-index: 2;
  -webkit-backdrop-filter: brightness(115%);
          backdrop-filter: brightness(115%);
}

.cursor.hovered {
  width: 30px;
  height: 30px;
  border-radius: 25%;
}

.active {
  width: 41px;
  height: 41px;
}

.anim1 {
  animation: swing-in-bottom-fwd 400ms;
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim2 {
  animation: swing-in-bottom-fwd 800ms;
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim3 {
  animation: swing-in-bottom-fwd 1200ms;
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim4 {
  animation: swing-in-bottom-fwd 1600ms;
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
.anim5 {
  animation: swing-in-bottom-fwd 2000ms;
}
@keyframes swing-in-bottom-fwd {
  0% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}
/*Animation Qui suis-je ?*/
@keyframes roll-in-blurred-left {
  0% {
    transform: translateX(-500px) rotate(-360deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-right {
  0% {
    transform: translateX(500px) rotate(360deg);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes sortbyme2 {
  0% {
    transform: translateX(-100%);
    width: 0;
  }
  100% {
    transform: translateX(0%);
    width: 100%;
  }
}
/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */
@keyframes wobble-hor-bottom {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}
@keyframes wobble-hor-bottom2 {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(30px) rotate(6deg);
  }
  30% {
    transform: translateX(-15px) rotate(-6deg);
  }
  45% {
    transform: translateX(15px) rotate(3.6deg);
  }
  60% {
    transform: translateX(-9px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(6px) rotate(1.2deg);
  }
}
/*Footer arrow*/
/**
 * ----------------------------------------
 * animation scale-up-top
 * ----------------------------------------
 */
@keyframes scale-up-top {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }
  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }
  40% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/*Mediaqueries*/
@media (max-width: 576px) {
  .present:hover {
    border-radius: 0% 0% 15% 15%/0% 0% 1% 1%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
  }
}
.navButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.25rem;
}

.buttonSwitchComponent {
  border: 0px;
  height: 5rem;
  width: 25%;
  margin: 0.25rem;
  transition: all 200ms;
  border-radius: 5px;
  background-color: rgba(189, 221, 219, 0.685);
  color: rgb(29, 29, 29);
  font-size: 22px;
  cursor: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonSwitchComponent:hover {
  background-color: rgba(5, 255, 47, 0.637);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.buttonSwitchComponent.active {
  background-color: rgba(210, 255, 180, 0.747);
}

.who_container {
  border-radius: 10px 10px 0 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  width: 80%;
  transition-property: all;
  transition-property: transform;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.describe_container {
  width: 100%;
  -webkit-backdrop-filter: brightness(40%);
          backdrop-filter: brightness(40%);
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.photoOfMeImg {
  width: 15rem;
  z-index: 1;
  border-radius: 20px;
  transition: all 1s;
}

.describe_box {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 29);
  background-size: cover;
  width: 30%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100px;
  border-radius: 20px;
  border: black 1px solid;
  margin: 0.5rem 0;
}

.who_container .describe_box:first-child {
  opacity: 1;
  visibility: visible;
  animation: roll-in-blurred-right 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  position: relative;
}

.who_container .describe_box:first-child:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid rgb(255, 255, 255);
  position: absolute;
  right: -1.5rem;
  rotate: 270deg;
  z-index: -1;
}

.who_container .describe_box:last-child {
  opacity: 1;
  visibility: visible;
  animation: roll-in-blurred-left 1s cubic-bezier(0.23, 1, 0.32, 1) both;
  position: relative;
}

.who_container .describe_box:last-child:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 40px solid rgb(255, 255, 255);
  position: absolute;
  left: -1.5rem;
  rotate: 90deg;
  z-index: -1;
}

.bdInfo {
  font-family: "Chewy", cursive;
}

/*InterTitle*/
.interTitle {
  color: white;
  width: 80%;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.interTitle > h2 {
  font-size: 25px;
  padding: 0.5rem 0;
}

/*RUBRIQUE 2*/
.skillsBox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  border-radius: 0 0px 10px 10px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 1rem 0;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/*Container 1*/
.skillBox_Container1 {
  width: 45%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: brightness(40%);
          backdrop-filter: brightness(40%);
}

.skillBox_Container1 > .titleArticle {
  background-color: rgba(0, 0, 0, 0.753);
  color: white;
  width: 80%;
  border-radius: 3px;
  transition: 300ms;
  margin: 0.25rem 0;
  padding: 0.5rem 0;
}

.skillBox_Container1 > .titleArticle:hover {
  background-color: rgba(240, 255, 255, 0.718);
  color: rgb(29, 29, 29);
}

/*Container 2*/
.skillBox_Container2 {
  width: 45%;
  min-height: 450px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: brightness(40%);
          backdrop-filter: brightness(40%);
}

.skillBox_Container2 > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.skillBox_Container2 > div > div > div:hover div.tooltip {
  display: block;
}

@media (max-width: 1132px) {
  .skillsBox {
    width: 90%;
  }
  .interTitle {
    width: 90%;
  }
  .describe_container {
    flex-direction: column;
  }
  .skillBox_Container1 {
    width: 100%;
  }
  .skillBox_Container2 {
    width: 100%;
  }
  .skillsBox {
    flex-direction: column;
  }
  .who_container {
    flex-direction: column;
    width: 90%;
  }
  .describe_box {
    width: 75%;
    min-width: 250px;
  }
  .photoOfMeImg {
    width: 8rem;
  }
  .describe_box {
    flex-direction: column;
  }
  .who_container .describe_box:first-child:after {
    right: 60%;
    bottom: -2rem;
    rotate: 340deg;
    border-top: 70px solid rgb(255, 255, 255);
  }
  .who_container .describe_box:last-child:after {
    left: 62%;
    top: 0rem;
    rotate: 40deg;
    border-left: 40px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid rgb(255, 255, 255);
  }
}
.card_container {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.present {
  width: 100%;
  margin: 0 auto;
  padding: 1vh 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s ease;
  position: relative;
  background: rgba(0, 0, 0, 0.459);
  color: rgb(0, 0, 0);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  min-height: 60vh;
}

.title {
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.055);
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 300ms;
  overflow: hidden;
  border: 1px solid black;
  margin: 0 0 1rem 0;
  padding: 1rem 0;
}

.title > div {
  background-color: rgba(240, 255, 255, 0.718);
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
  transition: 300ms ease-in-out;
  color: rgb(29, 29, 29);
}

.title:hover > div {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.753);
  box-shadow: 0px 0px rgb(0, 0, 0);
  color: white;
}

h2 {
  font-size: 30px;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.171), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

h3 {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.123);
  font-size: 20px;
}

div > p {
  font-size: 15px;
}

.article {
  border-radius: 10px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.15);
  width: 80%;
  border: 1px solid black;
  padding: 0.25rem 0;
}

.flexCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.flexCenterNoColumn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 776px) {
  .article {
    width: 90%;
  }
  .title {
    width: 90%;
  }
  .title > div {
    width: 85%;
  }
  .titleArticle {
    width: 95%;
  }
  .article > .titleArticle {
    width: 95%;
  }
}
.icons_container {
  width: 45%;
  min-height: 450px;
  border: 1px solid black;
  background-color: green;
}

.icons_container > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.icons_container_lineDisplay {
  display: flex;
}

.titleOfSkills {
  background-color: rgba(0, 0, 0, 0.753);
  padding: 0.2rem 0;
  width: 80%;
  border-radius: 3px;
  margin: 0.3rem 0;
  color: white;
}

/* Icone individuel */
.iconBloc {
  width: 80px;
}

.bgIcon {
  background-color: rgba(0, 0, 0, 0.87);
  border: solid rgba(255, 255, 255, 0.575) 2px;
  border-radius: 10%;
  font-size: 48px;
}

.iconAnimation {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-radius: 10px;
  color: rgb(29, 29, 29);
  margin: 0.5rem;
  padding: 1rem 0;
}

.iconAnimation:hover {
  transform: scale(1.15, 1.1);
  background-color: rgba(255, 255, 255, 0.432);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.342);
  padding: 0;
}

.htmlIcon {
  color: rgb(75, 9, 255);
}

.cssIcon {
  color: rgb(255, 179, 38);
}

.jsIcon {
  color: rgb(255, 255, 82);
}

.phpIcon {
  color: rgb(16, 163, 163);
}

.reactIcon {
  color: rgb(150, 150, 253);
}

.angularIcon {
  color: rgb(255, 64, 64);
}

.sassIcon {
  color: rgb(250, 8, 157);
}

.bsIcon {
  color: rgb(160, 31, 160);
}

.wpIcon {
  color: rgb(104, 104, 253);
}

.apiIcon {
  color: rgb(197, 196, 196);
}

.mongodbIcon {
  color: rgb(32, 92, 14);
}

.nodejsIcon {
  color: rgb(64, 179, 29);
}

.icons_container > div > div > div:hover div.tooltip {
  display: block;
}

.tooltip {
  display: none;
}

.figmaIcon {
  width: 48px;
}

@media (max-width: 776px) {
  .iconBloc {
    width: 60px;
  }
  .bgIcon {
    font-size: 35px;
  }
  .tooltip {
    font-size: 12px;
  }
  .figmaIcon {
    width: 35px;
  }
}
/* SCSS de la rubrique Projets*/
.img_project {
  width: 80%;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.book_container {
  border: solid 1px rgba(0, 0, 0, 0.822);
  border-radius: 10px;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.15);
  width: 80%;
}

.portefolio_article {
  border-radius: 5px;
  color: rgb(29, 29, 29);
}

.carousel_portfolio {
  width: 100%;
}

/*Cette partie concerne l'animation du slider*/
.carousel_portfolio {
  position: relative;
  overflow: hidden; /* Empêche le débordement et par conséquent évite que l'animation affecte le scroll */
}

.hide {
  top: 0;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: -1; /* Placez l'élément sortant sous l'élément entrant */
}

.carousel_portfolio:not(.hide) {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease-in;
  z-index: 0; /* Placez l'élément entrant au-dessus de l'élément sortant */
}

.carousel_portfolio.hide .portefolio_article {
  animation: fadeOut 0.5s forwards;
}

.carousel_portfolio .portefolio_article {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*****************************************/
.projectTitle {
  margin: 0.25rem auto 0.5rem auto;
  background-color: rgba(240, 255, 255, 0.718);
  width: 95%;
  padding: 0.5rem 0;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

.imgPortFolio_Box {
  border-radius: 10px;
  height: 34vh;
  border: 1px solid black;
  width: 95%;
  margin: 0 auto 0.5rem;
  overflow: hidden;
}

.imgPortFolio {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
  width: 100%;
  height: 34vh;
  border-radius: 10px;
  transition: ease-in 0.4s;
}

.imgPortFolio:hover {
  transform: scale(1.03);
}

.describeBox {
  margin: 0.25rem auto 0;
  width: 95%;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: rgba(240, 255, 255, 0.718);
  transition: 300ms ease-in-out;
}

.DescribeOfProject {
  font-size: 25px;
  margin: 0 0 0.5rem 0;
}

.DescribeOfProject_text {
  font-size: 18px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.listTechnology_box {
  width: 200px;
  margin: 0.5rem auto;
  width: 95%;
  padding: 1rem 0;
  border-radius: 10px;
  background-color: rgba(240, 255, 255, 0.718);
  transition: 300ms ease-in-out;
}

.listTechnology {
  list-style: none;
}

.visitButton {
  background: rgba(5, 255, 47, 0.637);
  color: rgb(29, 29, 29);
  padding: 0.2rem 1rem;
  border: 0px solid rgb(0, 0, 0);
  border-radius: 5px;
  transition: 500ms;
  font-size: 18px;
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  border: 1px solid rgba(0, 0, 0, 0.521);
  text-decoration: none;
  cursor: none;
}

.visitButton:hover {
  background: linear-gradient(90deg, rgb(201, 255, 213) 0%, rgba(115, 255, 127, 0.79) 100%);
  color: rgba(0, 0, 0, 0.897);
  width: 140px;
  border: 1px solid rgba(5, 255, 47, 0.637);
}

.projectOrderInfo {
  margin: 0.5rem auto 0;
  font-size: 18px;
  width: 265px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(240, 255, 255, 0.718);
}

.projectDateInfo {
  margin: 0rem auto 0.5rem;
  width: 265px;
  border-radius: 0 0 5px 5px;
  background-color: rgba(240, 255, 255, 0.718);
}

.projectButton_BeforeNext_Box {
  display: flex;
}

.projectButton_BeforeNext {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 40px;
  width: 130px;
  margin: 0.5rem 0.25rem 0rem 0.25rem;
  transition: all 300ms;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(119, 246, 255, 0.795) 50%, rgba(0, 225, 255, 0.877) 100%);
  color: rgba(0, 0, 0, 0.863);
  font-size: 30px;
  border: 1px solid rgba(0, 0, 0, 0.521);
  cursor: none;
}

.projectButton_BeforeNext:hover {
  background: rgba(5, 255, 47, 0.637);
  color: white;
  border: 1px solid rgba(5, 255, 47, 0.637);
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  font-size: 38px;
}

@media (max-width: 776px) {
  .book_container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .imgPortFolio {
    -o-object-position: 50% 0%;
       object-position: 50% 0%;
  }
}
/* SCSS de la rubrique Contact*/
.formBox {
  display: flex;
  flex-direction: column;
  color: rgb(29, 29, 29);
  background-color: rgba(235, 235, 235, 0.603);
  width: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 1rem 0;
  margin: 1rem auto;
}

.informationForForm {
  cursor: none;
}

.inputForm {
  width: 80%;
  border-radius: 5px;
  border: 0px;
  margin: 0.2rem 0;
  cursor: none;
}

.messageForm {
  height: 100px;
  resize: none;
  margin: 0.2rem 0 1rem 0;
}

.sendEmail {
  background: linear-gradient(90deg, rgb(255, 159, 159) 0%, rgba(255, 182, 23, 0.658) 100%);
  width: 150px;
  height: 30px;
  border-radius: 10px;
  transition: all 200ms;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: none;
}

.sendEmail:hover {
  background: linear-gradient(90deg, rgba(23, 255, 43, 0.658) 0%, rgb(159, 255, 180) 100%);
  transform: scale(1.2, 1);
}

@media (max-width: 776px) {
  .formBox {
    width: 250px;
  }
}
footer {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.603) 30%, rgba(0, 0, 0, 0.027) 100%);
  color: white;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  margin: 2rem 0 0 0;
}

footer > a {
  margin: 0.7rem;
  cursor: none;
  color: rgba(255, 255, 255, 0.884);
  font-size: 50px;
  transition: 400ms;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(231, 231, 231, 0.199);
  text-decoration: none;
}

footer > a:hover {
  transform: scale(1.05);
  color: rgb(99, 212, 70);
  background-color: rgba(248, 248, 248, 0.37);
}/*# sourceMappingURL=index.css.map */